<!--
  Author:    Jantzen Allphin
  Partner:   None
  Date:      September 2, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jantzen Allphin - This work may not be copied for use in Academic Coursework.

  I, Jantzen Allphin, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Contains HTML code for the details page.
-->

@{
    ViewData["Title"] = "Details";
}

<div class="header-container" id="header-container-details-page">
    <img id="header-image-details-page" src="~/images/uofu-campus.jpg" alt="Picture of building on University of Utah campus" />
    <div class="header-title">Opportunity Details</div>
</div>
<div id="opp-details-article">
    <header id="opp-details-header">
        <h4 id="opp-details-title">Machine Learning Based Lensless Cameras</h4>
    </header>
    <hr id="horizontal-rule-details-page" />
    <div id="opp-details-table">
        <table>
            <tr id="details-table-professor">
                <td class="td-category-details">Professor:</td>
                <td>Bobby Joe Hill</td>
            </tr>
            <tr id="details-table-tags">
                <td class="td-category-details">Tags:</td>
                <td>Computer Science, Biology</td>
            </tr>
            <tr id="details-table-deadline">
                <td class="td-category-details">Application Deadline:</td>
                <td>March 3, 2021</td>
            </tr>
            <tr id="details-table-email">
                <td class="td-category-details">Email:</td>
                <td>bobbyjoehill@eng.utah.edu</td>
            </tr>
        </table>
    </div>
    <div id="opp-details-description">
        <h5>Project Description:</h5>
        <p>
            By exploiting recent advances in machine learning, you will
            work in a small team to develop several uncoventional cameras.
            One example of a such a camera is a lensless camera that is extremely
            thin lightweight, yet able to perform high resolution imaging.
            Important applications in autonomous driving, drones, security,
            etc. will be explored.
        </p>
    </div>
    <div id="opp-details-type">
        <h5>Opportunity Type:</h5>
        <p>
            Volunteer; This is a paid research position;
            This is a work-study research position;
            Prepare a UROP proposal; Write an Honors Thesis;
            Earn independent study credit
        </p>
    </div>
    <div id="opp-details-role">
        <h5>Student Role:</h5>
        <p>Software engineering & some basic optical experiments.</p>
    </div>
    <div id="opp-details-benefits">
        <h5>Student Benefits:</h5>
        <p>
            Experience with Machine Learning and opportunities for
            publishing and presenting your work.
        </p>
    </div>
    <div id="opp-details-duration">
        <h5>Project Duration:</h5>
        <p>Flexible</p>
    </div>
    <div id="opp-details-requirements">
        <h5>Minimum Requirements:</h5>
        <p>Some experience with machine learning. Matlab. Motivation to learn.</p>
    </div>
</div>
