<!--
  Author:    Jantzen Allphin
  Partner:   None
  Date:      December 6, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jantzen Allphin - This work may not be copied for use in Academic Coursework.

  I, Jantzen Allphin, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Contains HTML code to display the Edit Application page.
-->
@model URC.Models.Application

@{
    ViewData["Title"] = "Edit";
}

<body class="body-research-background text-light">
    <div class="header-container" id="header-container-opp-page">
        <img id="header-image-opp-page" src="~/images/research-medium.jpg" alt="Picture of building on University of Utah campus" />
        <div class="header-title">Application: @Model.Opportunity.ProjectName</div>
    </div>
    <div class="row gray-background round-corners">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Resume" class="control-label"></label>
                    <input asp-for="Resume" id="resume" class="form-control" readonly />
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Statement" class="control-label"></label>
                    <textarea asp-for="Statement" class="form-control"></textarea>
                    <span asp-validation-for="Statement" class="text-danger"></span>
                </div>
                <div class="form-group" style="display: none;">
                    <input asp-for="OpportunityID" class="form-control" readonly />
                </div>
                <div class="form-group" style="display: none;">
                    <input asp-for="StudentID" class="form-control" readonly />
                </div>
                <div class="form-group" style="display: none;">
                    <input asp-for="Status" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index"><button type="button" class="btn btn-secondary">Cancel</button></a>
                </div>
            </form>
        </div>
        <div class="col-4">
            <form enctype="multipart/form-data" method="post" onsubmit="AJAXSubmitResume(this); return false;" action="../FileUpload">
                <div class="form-group">
                    <p>Upload a resume file</p>
                    <input type="file" name="files" multiple />
                    <input id="upload-btn" type="submit" value="Upload" />
                </div>
            </form>
            <div id="spinner" class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="response">

            </div>
        </div>
    </div>
    <div>
    </div>
</body>
@section Scripts {
    <script src="~/js/ResumeUpload.js"></script>
}

